<section class="ui modal" id="addSession"> <i class="close icon"></i>
  <header class="header">Add Session</header>
  <div class="content">
    <form class="ui segment form" action="/classes/{{classes.id}}/addsession" method="POST">
      <section class="three fields">
        <section class="field">
          <label>Location</label>
          <div class="ui input left icon">
            <i class="location arrow icon"></i>
            <input placeholder="Location" type="text" name="location">
          </div>
        </section>
        <section class="field calender" id="dateTime">
          <label>Date/time</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input placeholder="Date/Time" type="text" name="dateTime">
          </div>
        </section>
        <section class="field">
          <label>Capacity</label>
          <div class="ui input left icon">
            <i class="users icon"></i>
            <input placeholder="Capacity" type="text" name="capacity">
          </div>
        </section>
      </section>
      <section class="ui accordion field">
        <div class="title">
          <i class="icon dropdown"></i>
          Weekly Options
        </div>
        <div class="content field">
          <label class="transition hidden">Weeks Run</label>
          <div class="ui transition hidden input left icon" >
            <i class="hashtag icon"></i>
            <input placeholder="Weeks Run" type="text" name="weeks" value="1">
          </div>
        </div>
      </section>
      <button class="ui blue submit button"><i class="plus icon"></i> Add Session </button>
      <div class="ui error message"></div>
    </form>
  </div>
</section>

<script>
  $('.ui.form')
    .form({
      fields: {
        location: {
          identifier: 'location',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please enter a class session location'
            }
          ]
        },
        dateTime: {
          identifier: 'dateTime',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please select a date and time'
            }
          ]
        },
        capacity: {
          identifier: 'capacity',
          rules: [
            {
              type   : 'empty',
              prompt : 'Please class session capacity'
            }
          ]
        },
        weeks: {
          identifier: 'weeks',
          rules: [
            {
              type   : 'integer[1..100]',
              prompt : 'Session must run for at least 1 week'
            }
          ]
        }
      }
    })
  ;
</script>