<table class="ui celled table">
  <thead>
    {{> assessment-header}}
  </thead>
  <tbody>
    {{#each assessmentlist.assessments}}
      {{> assessment-row-with-delete userid=../user.id}}
    {{/each}}
  </tbody>
</table>

