<a class="content" href="/trainerDashboard/members/{{id}}">
  <div class="center aligned content">
    <img class="ui middle aligned circular small image" {{#if image}} src="{{image}}" {{else}} src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500152762/Node%20Gym/login.png" {{/if}}>
  </div>
  <div class="center aligned header">
    {{name}}
  </div>
</a>