<form class="ui center aligned fluid category search basic segment form" action="/search/member" method="POST">
  <div class="ui left icon input field">
    <i class="search icon"></i>
    <input class="prompt" placeholder="Search member" name="search">
  </div>
  <div class="aligned results"></div>
</form>

<script>
  let content = [
    {{#each allMembers}}
      { title: '{{name}} - {{email}}'},
    {{/each}}
  ];
  $('.ui.search')
    .search({
      source: content
    })
  ;
</script>