<form class="ui center aligned fluid search basic segment form" action="/search/class" method="POST">
  <div class="ui left icon input field">
    <i class="search icon"></i>
    <input class="prompt" placeholder="Class Name" name="search">
  </div>
  <div class="aligned results"></div>
</form>

<script>
  let content = [
    {{#each classes}}
      { title: '{{name}}'},
    {{/each}}
  ];
  $('.ui.search')
    .search({
      source: content
    })
  ;
</script>