{{> welcomemenu}}

<section class="ui two column center aligned middle aligned stackable grid segment">
  <div class="column">
    <img class="ui middle aligned image" src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500119960/Node%20Gym/favicon.png">
  </div>
  <div class="column">
    <h1 class="ui header">
      Node Gym
    </h1>
    <p>Welcome to Node Gym</p>
    <p>Login or Signup to get started !!</p>
  </div>
</section>